@import './palette.scss';

$color-red-team: red;
$color-red-team-light: lightcoral;
$color-blue-team: blue;
$color-blue-team-light: lightblue;

$color-card-standard: $secondary;
$color-card-diffuse: $success;
$color-card-bomb: $danger;

$color-text-primary: $white;
$color-text-secondary: $white;
$color-text-success: $white;
$color-text-danger: $white;
$color-text-warning: $white;
$color-text-info: $white;
$color-text-light: $dark;
$color-text-dark: $white;
$color-text-white: $dark;

$color-primary: $primary;
$color-secondary: $secondary;
$color-success: $success;
$color-danger: $danger;
$color-warning: $warning;
$color-info: $info;
$color-light: $light;
$color-dark: $dark;
$color-white: $white;
