@import 'src/styles/variables/index';

:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .app-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $color-dark;
    // opacity: 50%;

    animation-duration: $reveal-card-duration;
    animation-name: reveal-overlay;

    @keyframes reveal-overlay {
      0% {
        opacity: 0%;
      }
      25% {
        opacity: 75%;
      }

      75% {
        opacity: 75%;
      }
      100% {
        opacity: 0%;
      }
    }
  }

  .app-card {
    $width: 200px;
    $height: calc(#{$width} * #{$card-coef});

    z-index: 3;
    position: absolute;
    // top: calc(50% - #{$height} / 2);
    // left: calc(50% - #{$width} / 2);

    width: $width;
    height: $height;

    background-color: lightsalmon;
    &.standard {
      background-color: $color-card-standard;
    }
    &.diffuse {
      background-color: $color-card-diffuse;
    }
    &.bomb {
      background-color: $color-card-bomb;
    }
    // &.lol {
    //   background-color: lightseagreen;
    // }

    animation-duration: $reveal-card-duration;
    animation-name: reveal-card;

    @keyframes reveal-card {
      0% {
        top: calc(100%);
        left: calc(50% - #{$width} / 2);
        transform: rotateY(180deg);
      }
      25% {
        top: calc(50% - #{$height} / 2);
        left: calc(50% - #{$width} / 2);
        transform: rotateY(0deg);
      }

      75% {
        top: calc(50% - #{$height} / 2);
        left: calc(50% - #{$width} / 2);
        transform: rotateY(0deg);
      }
      100% {
        top: calc(100%);
        left: calc(50% - #{$width} / 2);
        transform: rotateY(180deg);
      }
    }
  }
}
