<form *ngIf="form" [formGroup]="form">
  <div>
    <label for="email">email</label>
    <input name="email" formControlName="email" />
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password" formControlName="password" />
  </div>
</form>

<button (click)="submit()" [disabled]="!canSubmit">Submit</button>
