<div>{{ game.name }}</div>
<div>{{ game.slug }}</div>
<div>{{ game.status }}</div>
<div>{{ game.players.length }}</div>
<div *ngFor="let player of game.players">
  <div>
    <img [src]="gravatarUrl(player)" />
  </div>
  <div>{{ player.username }}</div>
  <div>{{ player.wins }}</div>
</div>
<button (click)="launchGame()">Launch</button>
<button (click)="joinGame()">Join</button>
<button (click)="leaveGame()">Leave</button>
