@import 'src/styles/variables/index';

.app-game-avatar {
  border-radius: 50%;
  border-style: solid;
  border-color: $color-secondary;
  @media #{$sm} {
    width: 40px;
    border-width: 3px;
  }
  @media #{$md} {
    width: 60px;
    border-width: 5px;
  }
  @media #{$lg} {
    width: 80px;
    border-width: 7px;
  }

  &.current-player {
    border-color: $color-success;
  }
}

.app-profile-avatar {
  border-radius: 50%;
}
