@import 'src/styles/variables/index';

.app-action-button {
  // display: inline-block;
  min-width: 150px;
  font-size: 14px;
  cursor: pointer;
  background: $color-primary;
  color: $color-text-primary;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: nunito_sans;

  // &:hover {
  //   background: $color-primary;
  //   color: $color-primary-light;
  // }

  // &:active {
  //   background: $color-primary-light;
  //   color: $color-primary;
  // }

  &:focus {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    background: $color-secondary;
  }
}

.app-cancel-button {
  // display: inline-block;
  min-width: 150px;
  font-size: 14px;
  cursor: pointer;
  // background: $color-grey-light;
  background: $color-secondary;
  color: $color-text-secondary;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: nunito_sans;

  &:focus {
    outline: none;
  }
}
