@import 'src/styles/variables/index';

:host {
  // position: sticky;
  // position: fixed;
  display: flex;

  @media #{$sm} {
    flex-direction: column-reverse;
    bottom: 0;
  }
  @media #{$md} {
    flex-direction: column;
    top: 0;
  }
  @media #{$lg} {
    flex-direction: column;
    top: 0;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $color-dark;

    // background-color: $color-dark;
    background-color: grey;

    div {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      @media #{$sm} {
        height: 30px;
      }
      @media #{$md} {
        height: 40px;
      }
      @media #{$lg} {
        height: 50px;
      }

      a {
        @media #{$sm} {
          padding: 0 5px;
        }
        @media #{$md} {
          padding: 0 10px;
        }
        @media #{$lg} {
          padding: 0 20px;
        }
        text-decoration: none;
        cursor: pointer;
        color: $color-text-dark;
        text-align: center;
      }
    }
  }

  .loading-bar {
    display: flex;
    flex-direction: row;
  }
}
