<div class="nav-bar">
  <div>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a
      *ngIf="
        isLoggedIn && ($authObs | async) && !($authObs | async).currentGame
      "
      routerLink="/lobby"
      routerLinkActive="active"
      >Lobby</a
    >
    <a
      *ngIf="isLoggedIn && ($authObs | async) && ($authObs | async).currentGame"
      [routerLink]="'/games/' + ($authObs | async).currentGame.slug"
      routerLinkActive="active"
      >Current game</a
    >
  </div>
  <div *ngIf="isLoggedIn">
    {{ ($authObs | async) ? ($authObs | async).username : '' }}
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a (click)="logout()" routerLinkActive="active">Logout</a>
  </div>
  <div *ngIf="!isLoggedIn">
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</div>

<!-- <div class="loading-bar">{{ loadingService.loadingElementsNumber }}</div> -->
