<ng-container *ngIf="$currentGame | async">
  <app-open
    *ngIf="($currentGame | async).status === 'open'"
    [game]="$currentGame | async"
  ></app-open>
  <app-inProgress
    *ngIf="($currentGame | async).status === 'inProgress'"
    [game]="$currentGame | async"
    [user]="$user | async"
  ></app-inProgress>
  <app-ended
    *ngIf="($currentGame | async).status === 'ended'"
    [game]="$currentGame | async"
  ></app-ended>
  <!-- <div>
    <div *ngFor="let message of messages">
      <b>{{ message.sender }}</b>
      <p>{{ message.content }}</p>
    </div>
  </div>
  <div>
    <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" />
    <button (click)="sendMessage()">Send</button>
  </div> -->
</ng-container>
<app-doNotExist *ngIf="!($currentGame | async)"></app-doNotExist>
