<form *ngIf="form" [formGroup]="form">
  <div>
    <label for="username">username</label>
    <input name="username" formControlName="username" />
  </div>
  <div>
    <label for="email">email</label>
    <input name="email" formControlName="email" />
  </div>
  <div>
    <label for="password1">password</label>
    <input type="password" name="password1" formControlName="password1" />
  </div>
  <div>
    <label for="password2">password</label>
    <input type="password" name="password2" formControlName="password2" />
  </div>
  <div>
    <label for="avatarType">avatarType</label>
    <select name="avatarType" formControlName="avatarType">
      <option [value]="null">Select an avatar type</option>
      <option
        *ngFor="let avatarTypeKey of avatarTypesKeys"
        [value]="avatarTypes[avatarTypeKey]"
      >
        <!-- [selected]="avatarTypeKey === avatarTypes.robohash" -->
        {{ avatarTypes[avatarTypeKey] }}
      </option>
    </select>
  </div>
</form>

<button (click)="submit()" [disabled]="!canSubmit">Submit</button>

<div>
  <img [src]="getGravatarUrl()" />
</div>
