@import 'src/styles/variables/index';
@import 'src/styles/components/index';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .app-engine-header {
    display: flex;
    flex-direction: column;
  }

  .app-players-container {
    flex-grow: 1;

    position: relative;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    @for $i from 3 through 8 {
      $item-size: 250px;
      $item-offset: -90deg;
      .ul-#{$i} {
        position: absolute;

        top: 50%;
        left: calc(50% - #{$item-size} / 2);
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // background-color: lightgray;

        li {
          position: absolute;
          .circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: red;
            text-align: center;
          }

          div {
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
        }
        $item-count: $i;
        @for $j from 0 through $item-count - 1 {
          li:nth-child(#{$j + 1}) {
            @if $j == 0 or $j == $item-count - 1 {
              transform: rotate(
                  (360deg / ($item-count * 2 - 2) * $j) + $item-offset
                )
                translateY(-24vw);
            } @else {
              transform: rotate(
                  (360deg / ($item-count * 2 - 2) * $j) + $item-offset
                )
                translateY(-24vw);
            }
          }
        }
      }
    }
  }

  .app-user-container {
    display: flex;
    flex-direction: column;

    padding: 20px 0px;

    &.blue-team {
      background-color: $color-blue-team-light;
    }

    &.red-team {
      background-color: $color-red-team-light;
    }

    &.current-player {
      border: 5px solid $color-success;
    }

    .app-cards-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .app-hand-info {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
