<ng-container #revealedCard></ng-container>
<ng-container #newTurn></ng-container>
<ng-container #bombExplode></ng-container>

<div class="app-engine-header">
  <div>playerToPlay : {{ playerToPlay.username }}</div>
  <div>state.cardsOut : {{ game.state.cardsOut }}</div>
  <div>
    cardsOut this turn :
    {{ game.state.cardsOut - game.state.turn * game.players.length }}
  </div>
  <div>state.diffuseOut : {{ game.state.diffuseOut }}</div>
  <div>turn : {{ game.state.turn + 1 }}</div>
</div>

<!-- <div>user : {{ user.username }}</div> -->

<div class="app-players-container">
  <ul [ngClass]="otherStatePlayers ? 'ul-' + (game.players.length - 1) : ''">
    <li *ngFor="let player of otherStatePlayers | keyvalue" class="app-players">
      <!-- <div class="circle">|</div> -->
      <!-- <img
        [src]="gravatarUrl(getPlayer(player.key))"
        [ngClass]="{ 'current-player': player.key === playerToPlay._id }"
        class="app-game-avatar"
      /> -->
      <!-- x -->
      <div>
        <img
          [src]="gravatarUrl(getPlayer(player.key))"
          [ngClass]="{ 'current-player': player.key === playerToPlay._id }"
          class="app-game-avatar"
        />
      </div>
      <div>{{ getPlayer(player.key).username }}</div>
      <div class="app-cards-container">
        <button
          (click)="revealCard(player.key)"
          [disabled]="user._id !== playerToPlay._id"
          *ngFor="let card of Array(player.value.numberOfCards)"
          class="app-game-card-back"
        >
          Card
        </button>
      </div>
    </li>
  </ul>
</div>

<div
  class="app-user-container"
  [ngClass]="{
    'red-team': game.userTeam === 'red',
    'blue-team': game.userTeam === 'blue',
    'current-player': currentStatePlayer.id === playerToPlay._id
  }"
>
  <div class="app-cards-container">
    <button
      disabled
      *ngFor="let card of Array(currentStatePlayer.numberOfCards)"
      class="app-game-card-back"
    >
      Card
    </button>
  </div>
  <div class="app-hand-info">
    <!-- <div>user team : {{ game.userTeam }}</div> -->
    <div>
      You have {{ game.userNumerofDiffuse }} diffuse{{
        game.userNumerofDiffuse > 1 ? 's' : ''
      }}
    </div>
    <div>
      {{
        game.userHasTheBomb ? 'You have the bomb' : 'You do not have the bomb'
      }}
    </div>
    <!-- <div *ngIf="currentStatePlayer.id === playerToPlay._id">C'est à toi</div> -->
    <!-- <div>
      <img
        [src]="gravatarUrl(getPlayer(currentStatePlayer.id))"
        [ngClass]="{
          'current-player': currentStatePlayer.id === playerToPlay._id
        }"
        class="app-game-avatar"
      />
    </div> -->
    <!-- <div>{{ getPlayer(currentStatePlayer.id).username }}</div> -->
    <!-- <div>{{ currentStatePlayer.numberOfCards }}</div> -->
  </div>
</div>
