<div *ngIf="$authObs | async">
  <div>{{ ($authObs | async).avatarType }}</div>
  <div>
    <img [src]="gravatarUrl($authObs | async)" />
  </div>
  <div>{{ ($authObs | async).username }}</div>
  <div>{{ ($authObs | async).email }}</div>
  <div>{{ ($authObs | async).role }}</div>
  <div>{{ ($authObs | async).confirmed }}</div>
  <div>{{ ($authObs | async).wins }}</div>
</div>
