@import 'src/styles/variables/index';

:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .app-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $color-dark;
    // opacity: 50%;

    animation-duration: $new-turn-duration;
    animation-name: new-turn-overlay;

    @keyframes new-turn-overlay {
      0% {
        opacity: 0%;
      }
      25% {
        opacity: 75%;
      }

      75% {
        opacity: 75%;
      }
      100% {
        opacity: 0%;
      }
    }
  }

  .app-text {
    z-index: 3;
    position: absolute;
    text-align: center;

    animation-duration: $new-turn-duration;
    animation-name: new-turn-text;

    @keyframes new-turn-text {
      0% {
        top: calc(100% / 2);
        left: calc(150%);
      }
      25% {
        top: calc(100% / 2);
        left: calc(50% / 2);
      }

      75% {
        top: calc(100% / 2);
        left: calc(50% / 2);
      }
      100% {
        top: calc(100% / 2);
        left: calc(-50%);
      }
    }
  }
}
