<div *ngIf="!showCreateGame">
  <button (click)="showCreateGameForm()">Create a game</button>
</div>

<div *ngIf="showCreateGame">
  <button (click)="hideCreateGameForm()">Close</button>
  <form [formGroup]="createGameForm">
    <div>
      <label for="name"></label>
      <input name="name" formControlName="name" />
    </div>
  </form>
  <button (click)="createGame()" [disabled]="!canCreateGame">Create</button>
</div>

{{
  ($lobbyObs | async)
    ? 'Number of games : ' +
      (($lobbyObs | async).length ? ($lobbyObs | async).length : 0)
    : ''
}}

<div *ngFor="let game of $lobbyObs | async">
  <div>{{ game.name }}</div>
  <div>{{ game.slug }}</div>
  <div>{{ game.status }}</div>
  <div>{{ game.players.length }}</div>
  <button (click)="openGame(game.slug)">Open</button>
</div>
